<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RESTClient bookmarks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="RESTClient, a debugger for RESTful web services." />
    <meta name="author" content="Chao ZHOU (chao@zhou.fr)" />
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
<body>
<section id="labels" class="container-fluid" style="margin-top: 5px;">
  <h3><i class="fa fa-tags"></i> Labels <span class="edit" data-state="normal">edit</span></h3>
  <div class="labels-panel"></div>
</section>
<section id="requests" class="container-fluid">
  <h3><i class="fa fa-bookmark"></i> Bookmarks</h3>
  <ul class="bookmark-requests">
  </ul>
</section>

<div class="modal fade hide" id="modal-label-remove">
  <div class="modal-header">
    <a class="close btnClose">×</a>
    <h3 class="title">Remove label</h3>
  </div>
  <div class="modal-body">
    You are going to remove label [<span class="label label-warn"></span>], are you sure?
  </div>
  <div class="modal-footer">
    <input class="btn btnOkay btn-success" type="button" value="Yes" onClick="restclient.bookmark.removeLabel(false);">
    <input class="btn btnOkay btn-success" type="button" value="Yes, and remove all related bookmarks" onClick="restclient.bookmark.removeLabel(true);">
    <input class="btn btnClose" type="button" value="Cancel">
  </div>
</div>

<script type="text/template" id="bookmarkRequest">
<% for(var i = 0, item; item = items[i]; i++) { %>
<li data-uuid="<%= item.uuid %>" class="well">
  <a href="#" class="removeBookmark bookmark-button"><i class="fa fa-trash-o"></i></a>
  <div class="bookmark-title bookmark-details">
    <a href="#" class="favorite" data-favorite="<%= item.favorite %>"><i class="fa fa-star<% if(item.favorite == 0) { %>-o <% } %>"></i></a> 
    <a href="#" class="requestName"><%= item.requestName %></a> <span class="lastAccess"><%= moment.unix(item.lastAccess / 1000).fromNow() %></span>
  </div>
  <div class="bookmark-details"><span class="bookmark-label"><%= item.requestMethod %></span> <span class="bookmark-value"><%= item.requestUrl %></span></div>
  <div class="bookmark-details"><span class="bookmark-label">Curl Command:</span></div>
  <div class="bookmark-details curl"><span class="bookmark-value"> <%= item.curl %> </span></div>
  <div class="bookmark-details labels"><span class="bookmark-label">Labels:</span> 
  <% if(item.labels.length == 0) { %>
    <span class="label">uncategorized</span>
  <%
  }
  for(var j=0, label; label = item.labels[j]; j++) { %>
    <span class="label used-label"><%= label %></span>
  <% } %>
  </div>
</li>
<% } %>
</script>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.hotkeys.js"></script>

<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/moment-with-langs.js"></script>

<script type="text/javascript" src="js/bootstrap.js"></script>

<script type="text/javascript" src="js/restclient.js"></script>
<script type="text/javascript" src="js/restclient.bookmark.js"></script>
<script type="text/javascript" src="js/restclient.message.js"></script>

<script type="text/javascript" src="js/restclient.sqlite.js"></script>
</body>
</html>