body {
    padding-top: 5rem;
    background-color: #CCC3;
}
.navbar-brand {
    margin-right: 0rem;
    margin-left: 1rem;
}
#nav-item-file {
    padding-left: 0 !important;
}
.m-t-sm {
    margin-top: 0.6rem;
}
.m-t-md {
    margin-top: 1rem;
}
.m-t-lg {
    margin-top: 1.2rem;
}
button {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}
.valid-info {
    display: none;
}
.invalid-feedback.valid-info {
    display: block;
}
.has-danger .valid-info {
    display: block;
    color: #F57A00;
}
.dd-favorite-headers {
    .di-favorite-header {
        max-width: 20rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.btn-toggle-panel {
    text-decoration: none;
    cursor: pointer;
}
.request-container {
    .title {
        margin-left: 0.1rem;
    }
    .card-block {
        padding: 0.5rem;
    }
    .card-title {
        color: #AAA;
    }
    .request-form {
        margin-top: 0.5rem;
        .input-group-addon {
            border: none;
            outline: 0;
        }
        input:focus {
            outline:0;
        }
        .input-group-addon:hover{
            text-decoration: none;
            color: #FFF;
            background-color: #555;
        }
        label {
            padding-right: 0.5rem;
            color: #AAA;
        }
        input {
            color: #000;
        }
        .ig-request-method {
            width: 8rem;
            margin-right: 0.5rem;
            .input-group-addon {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
        }
        .ig-request-method:focus-within,
        .ig-request-url:focus-within {
            input {
                border: #D9230F solid 1px;
            }
            .input-group-addon {
                background-color: #D9230F;
                text-decoration: none;
                color: #FFF;
            }
        }
        .ig-request-url {
            flex: 1;
            margin-right: 0.5rem;
            #dd-request-urls {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
        }
        button[type="submit"] {
            width: 5rem;
        }
        .div-request-headers {
            .card-block {
                padding-bottom: 0;
            }
            .list-request-headers {
                line-height: 1.5;
                .badge {
                    background-color: #EEE;
                    color: #555;
                    font-weight: 500;
                    margin-right: 0.5rem;
                    line-height: 1rem;
                    margin-bottom: 0.5rem;
                    cursor: pointer;
                    .btn-remove-header {
                        color: #000 !important;
                        margin-right: 0.2rem;
                        margin-left: 0.2rem;
                        text-decoration: none !important;
                    }
                }
            }

            .btn-remove-all-headers {
                float: right;
                font-size: 0.7rem;
                color: #AAA;
                border-color: #FFF;
                border-radius: 0.25rem;
            }
            .btn-remove-all-headers:hover,
            .btn-remove-all-headers:focus {
                color: #333;
            }

        }

        .div-request-body {
            #request-body {
                flex: 1;
            }
        }
    }
}

.response-container {
    #response-headers {
        .card-block {
            padding-left: 0;
        }
        ol.linenums {
            margin-bottom: 0rem !important;
            li {
                padding-left: 12px;
                color: #bebec5;
                line-height: 1.4rem;
                text-shadow: 0 1px 0 #fff;
                .header-name {
                    color: teal;
                    width: 10rem;
                }
                .header-split {
                    color: #93a1a1;
                    width: 0.8rem;
                }
                .header-value {
                    color: #D9230F;
                    flex: 1;
                }
            }
        }
    }
}

#modal-header {
    label {
        color: #AAA;
    }
    input[type="text"] {
        color: #000;
    }
    .abc-checkbox-danger label {
        color: #777;
    }
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:30px;
    height:30px;
    background-color:#D9230F;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}

#scroll:hover {
    background-color:#e74c3c;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

#fullscreen-progressbar {
    background-image: url('../images/background.jpg');
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    #btn-abort-request {
        position: absolute;
        right: 20px;
        top: 20px;
        line-height: initial;
    }

    .container-progressbar {
        margin-top: 220px;
        position: absolute;
        top: 50%;
        margin-top: -90px;
        width: 100%;
    }

    #time-passed {
        position: fixed;
        left: 10px;
        bottom: 10px;
        text-align: center;
        line-height: 1;
    }

    #time-passed>div {
        display: inline-block;
        margin: 0 30px 15px;
    }

    #time-passed>div>div {
        margin-bottom: 22px;
        font-weight: 200;
        font-size: 48px;
    }

    #time-passed>div>i {
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
    }
}

#fullscreen-progressbar::before {
    background-image: url('../images/overlay.png');
    opacity: 0.75;
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}