#restclient-button {
  list-style-image    : url("chrome://restclient/skin/logo24.png");
}

toolbar[iconsize="small"] #restclient-button {
  list-style-image    : url("chrome://restclient/skin/logo16.png");
}

#restclienttoolsmenu, #restclientappmenu {
  list-style-image    : url("chrome://restclient/skin/logo16.png");
}