.response-container {
    .title {
        margin-left: 0.1rem;
        font-family: Consolas, Monaco, monospace;
    }
    #response-headers {
        .card-block {
            padding-left: 0;
        }
        ol.linenums {
            margin-bottom: 0rem !important;
            li {
                padding-left: 12px;
                color: #bebec5;
                line-height: 1.4rem;
                text-shadow: 0 1px 0 #fff;
                .header-name {
                    color: teal;
                    width: 12rem;
                }
                .header-split {
                    color: #93a1a1;
                    width: 0.8rem;
                }
                .header-value {
                    color: #D9230F;
                    flex: 1;
                }
            }
        }
    }
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
}