body {
    width: 100%;
    height: 100vh;
    background-color: #F1F1F1;
}
.navbar-brand {
    margin-right: 0rem;
    margin-left: 1rem;
}
.m-t-xs {
    margin-top: 0.3rem;
}
.m-t-sm {
    margin-top: 0.6rem;
}
.m-t-md {
    margin-top: 1rem;
}
.m-t-lg {
    margin-top: 1.2rem;
}
.m-t-xlg {
    margin-top: 1.8rem;
}

.m-b-xs {
    margin-bottom: 0.3rem;
}
.m-b-sm {
    margin-bottom: 0.6rem;
}
.m-b-md {
    margin-bottom: 1rem;
}
.m-b-lg {
    margin-bottom: 1.2rem;
}
.m-b-none {
    margin-bottom: 0;
}
.m-r-xs {
    margin-right: 0.3rem;
}
.m-r-sm {
    margin-right: 0.6rem;
}
.m-r-md {
    margin-right: 1rem;
}
.m-r-lg {
    margin-right: 1.2rem;
}
.m-r-none {
    margin-right: 0;
}
.m-l-xs {
    margin-left: 0.3rem;
}
.m-l-sm {
    margin-left: 0.6rem;
}
.m-l-md {
    margin-left: 1rem;
}
.m-l-lg {
    margin-left: 1.2rem;
}
.m-l-none {
    margin-left: 0;
}
button {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}
.valid-info {
    display: none;
}
.invalid-feedback.valid-info {
    display: block;
}
.has-danger .valid-info {
    display: block;
    color: #F57A00;
}
.dd-favorite-headers {
    .di-favorite-header {
        max-width: 20rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.btn-toggle-panel {
    text-decoration: none;
    cursor: pointer;
}
#wrapper {
    background-color: #F1F1F1;
}
.dropdown-item-checked::before {
  position: absolute;
  left: .4rem;
  content: '✓';
  font-weight: 600;
}