.response-container {
    margin-bottom: 1.2rem;
    .title {
        margin-left: 0.1rem;
        font-family: Consolas, Monaco, monospace;
    }
    #response-headers {
        .card-block {
            padding-left: 0;
        }
        ol.linenums {
            margin-bottom: 0rem !important;
            li {
                padding-left: 12px;
                color: #bebec5;
                line-height: 1.4rem;
                text-shadow: 0 1px 0 #fff;
                .header-name {
                    color: teal;
                    width: 12rem;
                }
                .header-split {
                    color: #93a1a1;
                    width: 0.8rem;
                }
                .header-value {
                    color: #D9230F;
                    flex: 1;
                }
            }
        }
    }
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
    .li-download {
        
        position: absolute;
        right: 20px;
        top: 59px;
        z-index: 999;
        .btn {
            background-color: #FFF;
            padding: .2rem .3rem;
            border: 1px solid #CCC;
            font-size: 75%;
            color: #818a91;
            cursor: pointer;
            background-color: transparent;
            border-radius: .25rem;
            background-image: none;
            outline: 0;
        }
        .btn:hover {
            color: #FFF;
            background-color: #D9230F;
            outline: 0;
            border-color: rgb(173, 28, 12);
        }
    }
}