
$text-color: #000;
// HAMBURGER COLOR
$hamburger-color-closed: transparentize($text-color, 0.6);
$hamburger-color-open: transparentize($text-color, 0.3);

// WIDTH VARIABLES
$sidebar-width: 256px;
$full-width: 100%;
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: $sidebar-width;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #fd716d;
}
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  min-height: 100%;
  min-width: 992px;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  background: transparent;
  border: none;
  display: inline-block;
  height: 32px;
  margin-right: 15px;
  top: 20px;
  width: 32px;
  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

.hamburger.is-closed {
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 30px;
    opacity: 0;
    text-align: center;
    width: 100px;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
    .hamb-top {
      -webkit-transition: all .35s ease-in-out;
      top: 0;
    }
    .hamb-bottom {
      -webkit-transition: all .35s ease-in-out;
      bottom: 0;
    }
  }
  .hamb-top {
    -webkit-transition: all .35s ease-in-out;
    background-color: $hamburger-color-closed;
    top: 6px;
  }
  .hamb-middle {
    background-color: $hamburger-color-closed;
    margin-top: -1px;
    top: 50%;
  }
  .hamb-bottom {
    -webkit-transition: all .35s ease-in-out;
    background-color: $hamburger-color-closed;
    bottom: 6px;
  }
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom  {
  height: 2px;
  left: 0;
  position: absolute;
  width: $full-width;
}
.hamburger.is-open {
  .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    background-color: $hamburger-color-open;
    margin-top: -2px;
    top: 50%;
  }
  .hamb-middle {
    background-color: $hamburger-color-open;
    display: none;
  }
  .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    // background-color: #1a1a1a;
    background-color: $hamburger-color-open;
    margin-top: -2px;
    top: 50%;
  }
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
  }
}