#labels .label {
  font-size: 14px;
  cursor: pointer;
}
span.edit {
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
.hide {
  display: none;
}
.label-div{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}
.label-div .remove {
  margin-left: 5px;
  margin-right: 3px;
  cursor: pointer;
}
#requests {
  font-size: 14px;
  line-height: 12px;
}
#requests ul{
  margin-left: 40px;
}
#requests ul li
{
  list-style-type: none;
  margin-bottom: 25px;
  border-bottom: 1px dotted #ddd;
}
#requests ul .editToolbar {
  margin-left: -38px;
}
div.bookmark-title {
  font-size: 16px;
}
div.bookmark-details {
  margin: 5px 0;
}
div.curl {
  margin-left: 30px;
}
span.bookmark-label {
  text-align: left;
  font-weight:bold;
}
.lastAccess {
  font-size: 11px;
  color: #666;
}
.bookmark-details .label {
  padding: 0px 8px;
  line-height: 20px;
  font-size: 12px;
  background-color: #ddd;
  color: #333;
  text-shadow: 0px -1px 0px rgba(1, 1, 1, 0.05);
}