#bm-labels .label {
  font-size: 14px;
  cursor: pointer;
}
#bm-labels span.edit {
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
.hide {
  display: none;
}
#bm-labels .label-div{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}
#bm-labels .label-div .remove {
  margin-left: 5px;
  margin-right: 3px;
  cursor: pointer;
}
#bm-requests {
  font-size: 14px;
  line-height: 12px;
}
#bm-requests .requestNum {
  vertical-align: top;
  font-size: 12px;
  margin-left: -5px;
}
#bm-requests ul{
  margin-left: 0px;
}
#bm-requests ul li
{
  list-style-type: none;
  margin-bottom: 15px;
  padding: 10px 19px;
}
#bm-requests .loading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
#bm-requests .bookmark-button {
  float: right;
}
#bm-requests div.bookmark-title {
  font-size: 16px;
}
#bm-requests div.bookmark-details {
  margin: 5px 0;
}
#bm-requests div.curl {
  margin-left: 30px;
}
#bm-requests span.bookmark-label {
  text-align: left;
  font-weight:bold;
}
#bm-requests .lastAccess {
  font-size: 11px;
  color: #666;
}
#bm-requests .bookmark-details .label {
  padding: 0px 8px;
  line-height: 20px;
  font-size: 12px;
  background-color: #ddd;
  color: #333;
  text-shadow: 0px -1px 0px rgba(1, 1, 1, 0.05);
}
#bm-requests .labels {
  margin-top: 12px !important
}


#bm-footer .backtotop {
  width: 100%;
  text-align: right;
}